@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4"> Welcome!</h1>
    <p>This is a service that <a asp-controller="Resources" asp-action="Help">help</a> you store, access, crypt and estimate your passwords.</p>
    <form >
        <div class="form-group">
            <input  type="submit" asp-controller="Resources" asp-action="Index" value="Let`s start!" class="btn btn-primary" />
        </div>
    </form>
</div>
