
@model PasswordHandler.Models.Store

@{
    ViewData["Title"] = "Submit";
}

<h1>Are you sure?</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div><h2>@Html.DisplayFor(m => m.Estimate) - estimate of your password. </h2></div>
            <div><h2>@Html.DisplayFor(m => m.Password) - your new password. </h2></div>
            <div class="form-group">
                <input type="submit" value="I'm sure" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

